.inicio-servicos {
  display: flex;
  justify-content: center;
  background-image: url(../../img/foto-fundo-serviços.webp);
  background-size: cover;
}
.inicio-servicos .content h2 {
  margin-top: 200px;
  margin-bottom: 40px;
  font-size: 5rem;
}

.inicio-servicos .botao {
  margin-top: 320px;
  margin-bottom: 120px;
}
.setinha-baixo {
  position: absolute;
  padding: 10px;
  margin-top: 400px;
  animation: moveUpDown 2s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (max-width: 750px) {
  .inicio-servicos .botao {
    margin-top: 230px;
    margin-bottom: 120px;
  }
  .setinha-baixo {
    position: absolute;
    padding: 10px;
    margin-top: 320px;
    animation: moveUpDown 2s ease-in-out infinite alternate;
  }
  .inicio-servicos .content h2 {
    font-size: 4rem;
    margin-top: 140px;
  }
}
@media (max-width: 450px) {
  .inicio-servicos .content h2 {
    font-size: 13vw;
  }
  .inicio-servicos .botao {
    margin-top: 210px;
    margin-bottom: 120px;
  }
  .setinha-baixo {
    margin-top: 280px;
  }
}
/* @media (max-width: 280px) {
  .inicio-servicos .content h2 {
    font-size: 1.5rem;
  }
} */
